.container{
 flex: 1;
 margin: 3px;
 height: 70vh;
 position: relative;
}
.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
}
.info{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info h1{
color: white;
margin-bottom: 20px;
}
.info button{
 border: none;
 padding: 10px;
 background-color: white;
 color: grey;
 cursor: pointer;
 font-weight: 600;
}