.container{
    display: flex;

}
.left{
flex: 1;
display: flex;
flex-direction: column;
padding: 20px;
}
.left h1{

}
.left p{
margin: 20px 0px;
}
.left .socialContainer{
display: flex;
}
.left .socialIcon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  
  /* background-color: #${props=>props.color}; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.center{
flex: 1;
padding: 20px;
}
.center h3{
 margin-bottom: 30px;
}
.center ul{
margin: 0;
padding: 0;
list-style: none;
display: flex;
flex-wrap: wrap;
}
.center li{
width: 50%;
margin-bottom: 10px;
}

.right{
    flex: 1;
    padding: 20px;

}
.right h3{
 margin-bottom: 20px;
}
.right .contactItem{
   margin-bottom: 20px;
   display: flex;
   align-items: center;
}
.right img{
   width: 50%;
}
