/* .container{
    flex: 1;
    margin: 5px;
    min-width: 280px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5fbfd;
    position: relative;
    overflow: hidden;

}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
}
.container img{
    height: 75%;
    z-index: 2;
    transform: scale(1.3);
    transition: all 0.3s ease-out;
}
.container:hover img{
    transform: scale(1.1) translateY(-20px);
    opacity: 0.6;
}
.icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    transition: all 0.5s ease-in-out;
    
}
.icon:hover{
    background-color: #e9f5f5;
    transform: scale(1.1);
}
.info{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.container {
  flex: 1;
  margin: 5px;
  min-width: 280px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5fbfd;
  position: relative;
  /* overflow: hidden; */
}
.container:hover,.info:hover{
opacity: 1;

}
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
}
.container img {
  height: 75%;
  z-index: 2;
}
.info {
opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  transition: all 0.5s ease;
}
.icon :hover {
  background-color: #e9f5f5;
  transform: scale(1.5);
}
